<!DOCTYPE html>
<html>
  <head>
    <title>RoboShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-staitc-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">RoboShop</a>
        </div>
        <ul class="nav navbar-nav">
          <li <% if [params[:controller], params[:action]]==["products", "index"] %>class="active"<% end %>><%= link_to "Start", root_path %></li>
          <li <% if [params[:controller], params[:action]]==["static", "privacy"] %>class="active"<% end %>><%= link_to "Polityka prywatności", privacy_path %></li>
          <li <% if [params[:controller], params[:action]]==["products", "terms"] %>class="active"<% end %>><%= link_to "Regulamin", terms_path %></li>
          <li <% if [params[:controller], params[:action]]==["products", "shipping"] %>class="active"<% end %>><%= link_to "Dostawa i płatność", shipping_path %></li>
          <li <% if [params[:controller], params[:action]]==["products", "about"] %>class="active"<% end %>><%= link_to "O sklepie", about_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to cart_path do %>
              <span class="fa fa-shopping-cart"></span>
              <%= current_cart.line_items.map { |e| e.quantity }.sum %>
              produktów za 
              <%= number_to_currency(current_cart.line_items.map { |e| e.full_price  }.sum) %>
            <% end %>
          </li>
        </ul> 
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <h3>Kategorie</h3>
          <ul class="nav nav-sidebar">
            <% Category.all.each do |category| %>
              <li <% if @category == category %>class="active"<% end %>>
                <%= link_to category.name, category_path(category) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10">
        <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
