<!DOCTYPE html>
<html>
  <head>
    <title>RoboShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-staitc-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">RoboShop</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Start</a></li>
          <li><a href="#">Polityka prywatności</a></li>
          <li><a href="#">Regulamin</a></li>
          <li><a href="#">Dostawa i płatność</a></li>
          <li><a href="#">O sklepie</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
